<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Architecture Team ★</h1>

    <div class="index">

      <a href="/posts/new">
        <button type="button" class="btn btn-danger">회의록 작성</button></a>
      <% if(user) {%>
      <a href="/logout" class="float_right"><button type="button" class="btn btn-danger">Logout</button></a>
      <a href="/users/<%= user._id %>" class="float_right"><button type="button" class="btn btn-danger">My Profile (<%= user.nickname %>)                 </button></a>
      <% } else { %>
      <a href="/login" class="float_right"><button type="button" class="btn btn-danger">Login</button></a>
      <a href="/users/new" class="float_right"><button type="button" class="btn btn-danger">Sign Up</button></a>
      <% } %>
      </div>
    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div class="container">
  <h2>회의록 목록</h2>
  <p>2017.09.04~</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>회의 안건</th>
        <th>일시</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% posts.forEach(function(post){ %>
        <td><a href="/posts/<%= post._id %>"><%= post.title %></a></td>
        <td><span class="float_right"><%= post.createdAt.toLocaleDateString() %></span></td>

      </tr>

    </tbody>
     <% }) %>
  </table>
</div>



</body>
</html>
